<div style="padding-top:10px;">
    <p class="cnhudescr">
        Чернівецький національний університет імені Юрія Федьковича
        <br/>Факультет математики та інформатики
    </p>

    <p class="conference-name">
        <span style="font-size: 1.2em;">
            21-23 вересня 2023 року
        </span>
        <br/><br/>
        <span>
            МІЖНАРОДНА НАУКОВА КОНФЕРЕНЦІЯ<br/>
            ПРИСВ'ЯЧЕНА 55-РІЧЧЮ ФАКУЛЬТЕТУ <br/>
            МАТЕМАТИКИ ТА ІНФОРМАТИКИ
        </span>
    </p>
    <br>
    <br>
    <br>
    <p style="font-size:1px; bottom:0; color:white; margin-bottom:0px; " id="conference">Section</p>
</div>