<div style="padding-top:20px">
    <p class="cnhudescr">
        Чернівецький національний університет імені Юрія Федьковича
        <br/>Факультет математики та інформатики
    </p>

    <p class="conference-name">
        <span>
            МІЖНАРОДНА НАУКОВА КОНФЕРЕНЦІЯ<br/>
            ПРИСВ'ЯЧЕНА 55-РІЧЧЮ ФАКУЛЬТЕТУ МАТЕМАТИКИ ТА ІНФОРМАТИКИ
        </span>
        <br/><br/>
        <span style="font-size: 20px;">
            <u>21-23 вересня 2023 року</u>
        </span>
    </p>
<!--
    <img class="image" src="<%= asset_path('math.png') %>" style="margin-top:-3px;">
-->
    <div class="lists-part">
      <div class="conference-ways">
        <p style="margin-bottom: 0rem;">
            Напрямки роботи конференції:
        </p>
    
        <ul>
          <li>Диференціальні та диференціально-функціональні рівняння</li>
          <li>Математичне та комп’ютерне моделювання</li>
          <li>Топологія</li>
          <li>Аналіз</li>
          <li>Інформаційні технології</li>
          <li>Методика</li>
        </ul>
      </div>

      <div class="important-dates">
        <p style="text-align: center;margin-bottom: 0rem;">
          Важливі дати
        </p>
    
        <ul>
          <li>Початок реєстрації для участі у конференції – 1 травня 2023 р. на сайті www………..</li>
          <br/>
          <li>Закінчення реєстрації і прийому матеріалів – 24 серпня 2023 р.</li>
          <br/>
          <li>Розсилання запрошень – з 25 серпня 2023 р.</li>
          <br/>
          <li> Реєстрація учасників, які прибудуть на конференцію – _21 вересня 2023 р. з 8 год. в ауд.</li>
        </ul>
      </div>

      <div class="place-date">
        <div class="place-details">
            Робочі мови конференції: українська та англійська
        </div>

        <br/>
        
        <div class="place-details">
            Місце проведення: Чернівецький національний університет: м. Чернівці,
            вул. Університетська, 28, факультет математики та інформатики.
        </div>

        <br/>
        
        <div class="place-details">
           Відкриття конференції: 10 год. ___21__ вересня 2023 року
        </div>

        <br/>

        <div class="place-details">
           Екскурсії і культурні заходи заплановано на суботу __23_ вересня у м. Вижницю та перевал Німчич (80 км. від м. Чернівці).
        </div>
      </div>
    </div>
</div>