<div class="format">
    <h1 class="header">Напрямки роботи конференції</h1>


    <div class="conference-ways">
        <ul class="list-group">
            <li style="background: #444444; color: white; border:0;"class="list-group-item">✓ Диференціальні рівняння</li>
            <li style="background: #444444; color: white; border:0;"class="list-group-item">✓ Диференціально-функціональні рівняння</li>
            <li style="background: #444444; color: white; border:0;"class="list-group-item">✓ Математичне та комп’ютерне моделювання</li>
            <li style="background: #444444; color: white; border:0;"class="list-group-item">✓ Топологія</li>
            <li style="background: #444444; color: white; border:0;"class="list-group-item">✓ Аналіз</li>
            <li style="background: #444444; color: white; border:0;"class="list-group-item">✓ Інформаційні технології</li>
            <li style="background: #444444; color: white; border:0;"class="list-group-item">✓ Методика</li>
        </ul>
      </div>
</div>  
