<div class="format">
    <h1 class="header">Формат</h1>

    <div class="conference">
        <h2 class="header">Конференція</h2>

        <p>
            Проведення конференції планується в очному форматі із онлайн участю. 
            На пленарні доповіді відводиться 30 хв., на секційні – 15 хв. 
            Організаційний внесок очної участі буде  вказаний у другому повідомленні.
            Онлайн-участь – безкоштовна. 
            Для запрошених лекторів та членів комітетів оргвнесок не сплачується і культурна програма безкоштовна. 
            Вартість проживання та культурної програми сплачується окремо.
            Проживання учасників: у готелях міста та у гуртожитках навчальних закладів.
            Додаткову інформацію буде опубліковано у другому повідомленні.
        </p>
    </div>
</div>  