<div class="format">
    <h1 class="header"><span>Формат</span></h1>

    <div class="report">
        <h2 class="header"><span>Доповіді</span></h2>

        <p style="font-size: 1.7em; text-align: justify;">
            Заплановано видання праць конференції обсягом 2-4 сторінки формату А5. 
            Один автор може подати не більше двох праць (одна з яких − у співавторстві). 
            Оргкомітет залишає за собою право відхилити надіслані матеріали, які не відповідають 
            тематиці конференції, рівню результатів або вимогам до оформлення. З питань оформлення 
            праць чи збільшення їх об’єму звертатись до голови оргкомітету. Праці будуть опубліковані 
            до відкриття конференції. 
            Матеріали потрібно оформити у форматі Tex і надіслати за адресою ______@ukr.net, 
            або на сайті при реєстрації. Правила оформлення розміщені на офіційному сайті 
            конференції www._________________. 
            У Буковинському математичному журналі, який видається у Чернівецькому національ­ному 
            університеті імені Юрія Федьковича (категорія Б), і Mathematical Modeling and Computing 
            (категорія А, Scopus) видавництва Національного університету «Львівська політехніка»,  
            можуть бути опубліковані статті, за виголошеними на конференції доповідями і cхваленими 
            редакціями журналів.
        </p>
    </div>

    <div class="conference">
        <h2 class="header"><span>Конференція</span></h2>

        <p style="font-size: 1.7em; text-align: justify;">
            Проведення конференції планується в очному форматі із онлайн участю.
            На пленарні доповіді відводиться 30 хв., на секційні – 15 хв.
            <br/> 
            Організаційний внесок очної участі буде  вказаний у другому повідомленні.
            Онлайн-участь – безкоштовна. 
            <br/>
            Для запрошених лекторів та членів комітетів оргвнесок не сплачується і культурна програма безкоштовна. 
            <br/>
            Вартість проживання та культурної програми сплачується окремо.
            <br/>
            Проживання учасників: у готелях міста та у гуртожитках навчальних закладів.
            <br/>
            Додаткову інформацію буде опубліковано у другому повідомленні.
        </p>
    </div>

    
</div>  
