
<div class="nav-parent">        
  <div class="cellimage" align="center">
    <img class="image" src="<%= asset_path('fmilogo_1_30.jpeg') %>" >
  </div>

        
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0; display: inline-block;">
    <div class="container-fluid" style="background-color: white; margin-top: 28px;">
      
      <a classs="underline-on-hover" style="font-size: 20px; color:black; text-decoration: none;" href="#conference">
          Конференція
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="font-size: 20px; color:black; text-decoration: none;" href="#">
        Організатори
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="font-size: 20px; color:black; text-decoration: none;" href="#">
        Секції
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="font-size: 20px; color:black; text-decoration: none;" href="#">
        Учасники
      </a>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="font-size: 20px; color:black; text-decoration: none;" href="#">
        Реєстрація
      </a>
    </div>
  </nav>
            
  <div style="width:100px;text-align:right; padding-left: 0px; padding-right: 5px;">
    <%= link_to "UA", { :locale=>'ua' }, {:style => 'text-decoration: none;color:grey;font-size: 20px;margin-top: 20px;'} %>
    <br/>
    <%= link_to "ENG", { :locale=>'en' }, {:style => 'text-decoration: none;color:grey;font-size: 20px;'} %>
  </div>
</div>

<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>