<div class="organizators">
    <h2 class="header">Організаційний комітет</h2>

    <div class="list-group" style="width:50%; margin-left:25%; pointer-events: none;">
        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Ольга Мартинюк</h5>
                <small class="font-monospace" style="font-size: 12px;">Голова</small>
            </div>
            <p class="mb-1">деканка факультету математики та інформатики</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Олена Карлова</h5>
                <small class="font-monospace" style="font-size: 12px;">Заступник</small>
            </div>
            <p class="mb-1">заступниця деканки з наукової роботи та міжнародних зв’язків</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Анастасія Юрійчук</h5>
                <small class="font-monospace" style="font-size: 12px;">Заступник</small>
            </div>
            <p class="mb-1">заступниця деканки з інформаційних та медіа-технологій</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Члени оргкомітету</h5>
            </div>
            <p class="mb-1" style="font-size: 12px;">Ярослав Бігун, Руслана Колісник, Владислав Літовченко, Сергій Мартинюк, Володимир Михайлюк, <br/> Ігор Черевко, ………………………………</p>
        </a>
    </div>

    <h2 class="header">Науковий комітет</h2>

    <div class="list-group" style="width:50%; margin-left:25%; pointer-events: none;">
        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Роман Петришин</h5>
                <small class="font-monospace" style="font-size: 12px;">Голова</small>
            </div>
            <p class="mb-1">ректор Чернівецького національного університету імені Юрія Федьковича, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Ольга Мартинюк</h5>
                <small class="font-monospace" style="font-size: 12px;">Заступник</small>
            </div>
            <p class="mb-1">деканка факультету математики та інформатики, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Роман Кушнір</h5>
            </div>
            <p class="mb-1">академік НАН України, Інститут прикладних проблем механіки і математики ім. Я.С. Підстригача, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Микола Перестюк</h5>
            </div>
            <p class="mb-1">академік НАН України, Київський національний університет імені Тараса Шевченка, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Аркадій Чикрій</h5>
            </div>
            <p class="mb-1">академік НАН України, Інститут кібернетики НАН України, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Олександр Бойчук</h5>
            </div>
            <p class="mb-1">член-кореспондент НАН України, Інститут математики НАН України, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Василь Слюсарчук</h5>
            </div>
            <p class="mb-1">член-кореспондент НАН України, Національний університет водного господарства та природокористування, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Оксана Безущак</h5>
            </div>
            <p class="mb-1">Київський національний університет імені Тараса Шевченка, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Ярослав Бігун</h5>
            </div>
            <p class="mb-1">Чернівецький національний університет імені Юрія Федьковича, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Констянтин Васюк</h5>
            </div>
            <p class="mb-1">виконавчий директор Асоціації "ІТ Ukraine", Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Василь Городецький</h5>
            </div>
            <p class="mb-1">Чернівецький національний університет імені Юрія Федьковича, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Василь Григорків</h5>
            </div>
            <p class="mb-1">Чернівецький національний університет імені Юрія Федьковича, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Ростислав Григорчук</h5>
            </div>
            <p class="mb-1">Техаський А&М університет, США</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Іван Дияк</h5>
            </div>
            <p class="mb-1">Львівський національний університет імені Івана Франка, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Олексій Капустян</h5>
            </div>
            <p class="mb-1">Київський національний університет імені Тараса Шевченка, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Олена Карлова</h5>
            </div>
            <p class="mb-1">Чернівецький національний університет імені Юрія Федьковича, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Думітру Козьма</h5>
            </div>
            <p class="mb-1">Тираспольський державний університет, Республіка Молдова</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Ігор Король</h5>
            </div>
            <p class="mb-1">Ужгородський національний університет, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Владислав Літовченко</h5>
            </div>
            <p class="mb-1">Чернівецький національний університет імені Юрія Федьковича, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Володимир Михайлюк</h5>
            </div>
            <p class="mb-1">Чернівецький національний університет імені Юрія Федьковича, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Костіке Морошану</h5>
            </div>
            <p class="mb-1">___________________________________, Румунія</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Михайло Петрик</h5>
            </div>
            <p class="mb-1">Тернопільський національний технічний університет імені Івана Пулюя, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Володимир Пилипів</h5>
            </div>
            <p class="mb-1">Прикарпатський національний університет імені Василя Стефаника, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Микола Працьовитий</h5>
            </div>
            <p class="mb-1">Національний педагогічний університет імені М.П. Драгоманова, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Іван Пукальський</h5>
            </div>
            <p class="mb-1">Чернівецький національний університет імені Юрія Федьковича, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Олександр Станжицький</h5>
            </div>
            <p class="mb-1">Київський національний університет імені Тараса Шевченка, Україна</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Валерій Унгуряну</h5>
            </div>
            <p class="mb-1">Державний університет Молдови, Республіка Молдова</p>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Уршула Фориш</h5>
            </div>
            <p class="mb-1">Варшавський університет, Республіка Польща</p>

            <small style="opacity: 0.0; bottom:0; color:black; margin-bottom:0px; " id="format">Section</small>
        </a>

        <a href="#" style="text-decoration: none; color: black;" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Ігор Черевко</h5>
            </div>
            <p class="mb-1">Чернівецький національний університет імені Юрія Федьковича, Україна</p>
        </a>
    </div>
</div>  