<td class="bluerow">
    <table style="width:100%">
        <tbody>
            <tr>
                <td>
                    <h2 style="position:relative;left:52px;"><%= I18n.t('top-row') %></h2>
                </td>
                <td style="width:100px;text-align:right;">
                    <%= link_to image_tag('ukr.png', :class => "lang"), { :locale=>'ua' } %>
                    &nbsp;
                    <%= link_to image_tag('eng.png', :class => "lang"), { :locale=>'en' } %>
                </td>
            </tr>
        </tbody>
    </table>
</td>