<section class="description-main-section" style="margin-top: 85px;">
      <%= render :partial => 'shared/description' %>
</section>

<section class="conference-section">
    <%= render :partial => 'shared/conference' %>
</section>

    
<section class="organizators-section" id="organizators">
  <%= render :partial => 'shared/organizators' %>
</section>

<section class="format-section" id="format">
  <%= render :partial => 'shared/format' %>
</section>