<h1>
    <span class="title">Учасники</span>
</h1>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<p>
    <h1>
        Кількість учасників: <%= @count %>
    </h1>

    <h1>
        <%= link_to "Зареєструватись", new_member_path, :class => "link-primary" %>
    </h1>
</p>
