<h1>
    <span class="title">Учасники</span>
</h1>

<p>
    <h1>
        Кількість учасників: <%= @count %>
    </h1>

    <h1>
        <%= link_to "Зареєструватись", new_member_path, :class => "link-primary" %>
    </h1>
</p>
