<h1>
    <span class="title">Учасники</span>
</h1>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<p>
    <h1>
        Кількість учасників: <%= @count %>
    </h1>

    <h1>
        <%= link_to "Зареєструватись", new_member_path, :class => "link-primary" %>
    </h1>
</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">УЧАСНИК</th>
      <th scope="col">ВЧЕНЕ ЗВАННЯ ТА УСТАНОВА</th>
      <th scope="col">НАЗВА ДОПОВІДІ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
